  <!-- SECTIONS:  About-->
  <section id="sobre" class="section section-about grey lighten-4 scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h3><span class="red-text text-darken-4">Sobre</span> o LAWS</h3>
              <p class="flow-text">O LAWS (Laboratory of Advanced Web Systems), do Departamento de Informática da UFMA tem como objetivo a realização de projetos de pesquisa e desenvolvimento relacionados a Web e Multimídia. O laboratório reúne professores, pesquisadores e alunos de graduação, iniciação científica e mestrado com a missão de produzir conhecimento e ferramentas nas áreas de Arquitetura Orientada a Serviços, Computação em Nuvem e Jogos Educacionais.</p>
            </div>
          </div>
        </div>
      </section>