  <!-- Section: Contact -->
  <section id="contact"  class="section section-contact scrollspy">
        <div class="container">
          <div class="row">
            <div class="info-header">
              <h4 class="center"><span class="red-text text-darken-4">FALE</span> CONOSCO</h4>
            </div>
            <div class="col s12 m6">
              <div class="card-panel red darken-4 white-text center">
                <i class="material-icons medium">email</i>
                <h5>Entre em contato</h5>
                <p>&nbsp</p>
              </div>
              <ul class="collection with-header">
                <li class="collection-header">
                  <h4>Localização</h4>
                </li>
                <li class="collection-item">Universidade Federal do Maranhão</li>
                <li class="collection-item">Av. dos Portugueses, 1966 - Campus do Bacanga</li>
                <li class="collection-item">São Luís - MA 65080-805</li>
              </ul>
            </div>
            <div class="col s12 m6">
              <div class="card-panel grey lighten-3">
                <h5>Preencha o formulário abaixo:</h5>
                <div class="input-field">
                  <input type="email" placeholder="Email" id="email">
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input type="text" placeholder="Phone" id="phone">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field">
                  <textarea class="materialize-textarea" placeholder="Enter Message" id="message"></textarea>
                  <label for="message">Message</label>
                </div>
                <input type="submit" value="Enviar" class="btn red darken-4">
    
              </div>
            </div>
          </div>
        </div>
      </section>