<!--Header -->
<header class="main-header">
  <!-- nav bar -->
  {% include 'partials/_navbar.html' %}
    <ul class="side-nav" id='mobile-nav'>
      <h4 class="red-text text-darken-4 center">LAWS</h4>
      <li><div class="divider"></div></li>
      <li><a href="index.html"><i class="fa fa-home grey-text text-darken-4"></i> Home</a></li>
      <li><a href="membros.html"><i class="fa fa-users grey-text text-darken-4"></i> Integrantes</a></li>
      <li><a href="projetos.html"><i class="fa fa-cubes grey-text text-darken-4"></i> Projetos</a></li>
      <li><a href="publicacoes.html"><i class="fa fa-newspaper grey-text text-darken-4"></i> Publicações</a></li>
      <li><a href="signup.html"><i class="fa fa-sign-out-alt grey-text text-darken-4"></i> Sign Up</a></li>
      <li><div class="divider"></div></li>
      <li><a href="#" class="btn red darken-3" href="login.html">Login</a></li>
    </ul>
  {% if showcase %}{% include 'partials/_showcase.html' %}{% endif %}

</header>

      