<!-- SECTIONS:  ASSINAR-->
<section class="section sections-newsletter grey darken-3">
        <div class="container">
          <div class="row">
            <p class="flow-text white-text">Quer ficar por dentro das novidades?</p>
            <div class="col s12 m4">
              <div class="input-field">
                <input class="input-newsletter  white grey-text" placeholder="Informar Nome" type="text" id="nome-input">
              </div>
            </div>
            <div class="col s12 m4">
              <div class="input-field">
                <input class="input-newsletter white grey-text" placeholder="Informar Email"  type="text" id="email-input">
              </div>
            </div>
            <div class="col s12 m4">
              <div class="input-field">
                <button class="btn red darken-3 btn-newsletter">Inscreva-se</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    